* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
}

.clearfix {
  clear: both;
}

/*===========header=============*/

header {
  color: #f1e8e8;
  width: 100%;
  height: 30px;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 650px) {
  header {
    height: auto;
  }
}

.nav-dream-house {
  text-align: initial;
  margin-left: 20px;
  color: black;
}

.nav-dream-house .h-home {
  width: 14px;
  position: relative;
  top: 3px;
  left: 2px;
}

.navbar-brand {
  text-decoration: none;
}
.input-header {
  width: 25%;
  height: 100%;
  text-align: center;
}

.navbar {
  height: 100%;

  display: flex;
  justify-content: space-between;
  padding: 3px;
}

/************************selecp bar***************************************************/

nav {
  width: 163px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5px;
}
ul li .img {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
  width: 122px;
}

.select {
  width: 110px;
  color: black;
}

@media screen and (max-width: 650px) {
  .select #lab-user {
    display: none;
  }
  .select {
    width: 10px;
  }
}

.select input {
  width: 80px;
  border-radius: 5px;
}

.select i:hover {
  cursor: pointer;
  color: brown;
}

.img img {
  width: 25px;
}
ul li {
  height: 15px;
}
ul li a {
  margin-left: 10px;
  color: rgb(80, 76, 76);
  font-size: 15px;
}
ul li a:hover {
  background-color: rgb(134, 131, 131);
  border-radius: 2px;
}
.card-user {
  border-radius: 10px;
  width: 150px;
  height: 118px;
  background-color: white;

  position: absolute;
  right: 0px;
  visibility: hidden;
}
.line {
  background-size: contain;
  width: 95%;
  height: 13px;
  background-position: center;
  margin: 2px;
}

#check {
  display: none;
}
#check:checked ~ .card-user {
  visibility: visible;
}
#check:checked ~ nav .img {
  display: none;
}

/***********************************************************************************/
.user {
  display: flex;
  height: 23px;
}
.user select {
  border: none;
  background: #fff;
}
.user img {
  width: 30px;
}
.user2 {
  display: none;
}
.user2 select {
  border: none;
  background: #fff;
  width: 20px;
}
.user2 img {
  width: 30px;
}

@media screen and (max-width: 650px) {
  .user {
    display: none;
  }
  .input-header {
    display: none;
  }
  .user2 {
    display: flex;
    height: 23px;
    width: 50%;
    justify-content: end;
  }
}

.input-header input {
  width: 200px;
  height: 100%;
  color: black;
  border: 1px solid rgba(223, 220, 210, 0.4);
  border-radius: 15px;
  background: #fff;

  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  background-image: url("../img/search_white_48dp.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right;
}

.section-title {
  padding: 34px;
  color: rgb(90, 86, 86);
  margin-left: 0%;
  font-size: 20px;
}

@media screen and (max-width: 260px) {
  .input-header input {
    width: 100%;
  }
}

.conteiner {
  display: flex;
  flex-direction: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  margin: 0 auto;
}

.card {
  width: 28%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.card img {
  width: 100%;
  margin-top: -15%;
}

.card .contenido {
  padding: 15px;
}

.dimensions {
  display: flex;
  gap: 20px;
}

.card .icon-heart {
  width: 25px;
  position: relative;
  left: 85%;
  top: 18px;
}

a img.icon-heart:hover {
  background-color: darkred;
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
  .card {
    width: 95%;
  }
}

.section-view {
  text-align: center;
  margin: 20px;
}

.section-view button {
  background-color: blanchedalmond;
  color: black;
  border-radius: 5px;
  padding: 10px;
}

footer {
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

/*******************section views**************************************/

.view-foto {
  width: 70%;
  margin: 0 auto;
}

.view-foto img {
  width: 100%;
}

.view-list-fotos {
  width: 100%;
  display: flex;
  /* height: 400px; */
  justify-content: center;
  margin: 5px;
  align-content: center;
  align-items: flex-start;
}
.view-list-fotos ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding: 10px;
}

.view-list-fotos ul li img {
  width: 300px;
  height: 270px;
}

.view-list-fotos ul li {
  height: 73%;
}

.goback-img img {
  width: 150px;
}

.datos {
  display: flex;

  color: rgb(90, 86, 86);
  margin: 10px;
}
ul.datos1 {
  width: 50%;
  height: 300px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 25px;
}

ul.datos2 {
  width: 50%;
  height: 300px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 25px;
}

ul.datos2 li a button {
  width: 100%;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 18px;
  font-size: 25px;
  border-radius: 4px;
  transition: all 400ms ease;
  color: seashell;
  background-color: rgb(6, 41, 146);
}

ul.datos2 li a button:hover {
  background: #c8d4d6;
  color: #fff;
}
