*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #f2f2f2;

}
.clearfix{
    clear: both;
}

/*-==================================================navbar=============================================================*/
.navbar-sign{
    width: 100%;
    text-align: center;
    display: flex;
    background-color:  rgba(223, 220, 210, 0.4);
  
}
.nav-dream-house{
    width: 50%;
    text-align: initial;
    margin-left: 20px;
    color: black;
}

.nav-dream-house .h-home{
width: 14px;
position: relative;
top: 3px;
left: 2px;
}

.navbar-sign-in-up{
    width: 50%;
    text-align: end;
    margin-right: 3px;
    color: rgb(41, 37, 37);
}

.input-header{
    width: 95%;
    text-align: right;
    margin: 10px;
    
}
.input-header input{
    width: 150px;
    color: black;
    border: 0px;
    background-color: rgba(223, 220, 210, 0.4);
    background-image: url("../img/search_white_48dp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right;
}

.text-content{
   
    padding: 15px;
    margin-left: 15px;
    width: 70%;
    height: 79%;

}
.text-content h1{
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 0px 2px 3px black;
}

.text-content h6{
    font-size: 20px;
    font-weight: normal;
    margin-top: 21px;
    color: white;
    text-shadow: 0px 0px 1px black;
}

header {
	background: url(../img/backgroun-header.png) no-repeat bottom center;
	background-size: cover;
    background-repeat: no-repeat;
	color: #f1e8e8;
    width: 100%;
	height: 500px;
    position: relative;
}
/*-=================================================card===================================================================================*/
.section-title {
	
    padding: 25px;
    color:rgb(90, 86, 86);
  margin-left: 14%;
  font-size: 30px;
   
}



/*-==================================card=========================================*/



.container{
width: 100%;
display: flex;
margin: 0 auto;
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;

}
 .card:hover{
     box-shadow: 5px 5px 20ox rgba(0,0,0,0.4);
     transform: translateY(-3%);
 }
 .card img{
     width: 100%;
     margin-top: -15%;
 }

 .card .contenido{
     
     text-align: center;
     margin-top: -20%;
 }

 .card .contenido p{
     line-height: 1.0;
     color: #6a6a6a;
     margin-bottom: 3%;
     padding: 6px;

 }
 .card .contenido h3{ 

        font-weight: 400;
        margin-bottom: 2%;

 }
 .card .contenido a{ 
text-decoration: none;
display: inline-block;
padding: 5px;
margin-top: 10px;
margin-bottom: 18px;
border: 1px solid #2fb4cc;
border-radius: 4px;
transition: all 400ms ease;
color: seashell;
background-color:rgb(62, 63, 66);

 }
  
 .card .contenido a:hover{
background: #2fb4cc;
color: #fff;

  }


  /*-========================================================cajas===========================================================views===========*/



.cajas-conteiner{
  
    display: grid;
    grid-template-columns: 32.5% 32.5% 35%;
    grid-template-rows: 250px 250px 250px 250px;

   width: calc(100% - 30px);
   margin: 0 auto;
   padding: 20px;
   justify-content: center;


}

  .cajas{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 2px;
    
    display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
       
    .title-view{
        width: 85%;
        align-content: center;
        margin: 15px;
        padding: 10px;
    }

    .estados{
        display: flex;
        background: linear-gradient(180deg, black, transparent);
        padding: 5px;
        height: 20%;
        color: white;

    }

    .florida{
        background-image: url(../img/florida.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        grid-row: 1/3;
       
        
    }
    .georgia{
        background-image: url(../img/georgia.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
         grid-row: 3/5;
       grid-column: 2/3;

    }
     .chicago{
        background-image: url("../img/chicago.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
    }
    .texas{
        background-image: url("../img/texas.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
    }
    .colorado{
        background-image: url("../img/colorado.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
    }
    .newyork{
        background-image: url("../img/newyork.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
    }
    .washington{
        background-image: url("../img/washinton.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
    }
    .california{
        background-image: url("../img/california.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
    }
    .toronton{
        background-image: url("../img/toronton.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
    }
    .lasvegas{
        background-image: url("../img/miami.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
    }

    .cajas button{ 
        text-decoration: none;
        display: inline-block;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 18px;
        border: 1px solid #2fb4cc;
        border-radius: 4px;
        transition: all 400ms ease;
        color: seashell;
        background-color:rgb(62, 63, 66);
        width: 50%;
         margin: 10px;
        
         }
          
         .cajas button:hover{
        background: #2fb4cc;
        color: #fff;
        
          }
/*====================================footer===============================================*/

          .section-view {
            text-align: center;
            margin: 20px;
            
            
        }

        .section-view button{
            background-color: blanchedalmond;
            color: black;
            border-radius: 5px;
            padding: 10px;
        }


        footer{
            margin: 10px;
            padding: 5px;
            border-bottom: 1px solid black;
            margin-bottom: 40px;
        }
        